/* Resetting default styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* Header styles */
.header-container {
  height: 10vh;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo styles */
.logo {
  height: 60px;
  margin-right: 5%;
  margin-left: 2%;
  padding: 10px;
}

/* Export button styles */
.export-button {
  background-color: #00ba7c;
  padding: 10px 20px;
  height: 37px;
  margin: 0 30px 0 auto; /* Adjusted margin */
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #1fba00;
  color: #ffffff;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.export-button i {
  margin-right: 6px;
}

.export-button:hover {
  background-color: #12b600;
  border-color: #03a459;
}

/* Main content container */
.container {
  max-width: 100%;
  margin-top: 10vh;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Scrollable data container */
.data-container {
  z-index: 1000;
  max-height: 80vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #dddddd;
  text-align: left;
}

/* Sticky table header */
th {
  color: #f4f4f4;
  background-color: #000000;
  position: sticky;
  top: 0;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  display: none; /* Initially hidden */
}

/* Loading spinner styles */
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite; /* Spin animation */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}