body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.logo{
  width: 25vh;
  margin-left: auto;
  margin-right: auto;
}
#sensorHeading{
  float: left;
  font-size: 20px
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px; /* Set padding here */
}
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.data{
  font-size: 58px;
  color: #f4f4f4;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}

.data-container {
  display: flex;
  flex-wrap: wrap;
}

.data-item {
  flex: 1 1 300px;
  margin: 10px;
  padding: 20px;
  background-color: #000000;
  color: rgb(245, 17, 17);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.data-item h2 {
  margin-top: 0;
}

.data-item p {
  margin: 0;
  font-size: 18px;
}
