body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.logo{
  height: 60px;
  margin: auto;
  margin-right: auto;
  padding: 10px
}
.header-container {
  height: 10vh;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #ffffff; /* Optional: Set a background color */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Add shadow for visual separation */
}
#sensorHeading{
  float: left;
  font-size: 15px
}

.data-container {
  z-index: 1000;
  max-height: 80vh; /* Set the maximum height for the table */
  overflow-y: auto; /* Enable vertical scrolling */
  scroll-behavior: smooth;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #dddddd;
  text-align: left;
}

th{
  color: #f4f4f4;
  position: sticky;
  top: 0;
  background-color: #000000; /* Optional: Set a background color */
}
.container {
  max-width: 100%;
  margin: 50px auto;
  margin-top: 10vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.data{
  font-size: 58px;
  color: #f4f4f4;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}



.data-item {
  flex: 1 1 300px;
  margin: 10px;
  padding: 20px;
  background-color: #000000;
  color: rgb(245, 17, 17);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.data-item h2 {
  margin-top: 0;
}

.data-item p {
  margin: 0;
  font-size: 18px;
}
